@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #343a40;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #343a40;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #343a40;
}

button {
  cursor: pointer;
}

@keyframes animatedBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}
html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 305vh;
  background: linear-gradient(90deg, rgb(63, 237, 251) 20%, rgb(63, 94, 251) 50%, rgb(213, 70, 252) 80%);
  background-size: 200% 200%;
  animation: animatedBackground 5s ease-in-out infinite;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  #root {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 315vh;
  }
}
#root img.background {
  width: 100%;
  height: 300vh;
  position: absolute;
  object-fit: cover;
  object-position: top;
  background-color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 768px) {
  #root img.background {
    height: 315vh;
  }
}

#container {
  width: 100%;
  height: 305vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  #container {
    height: 315vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
#container nav {
  z-index: 20;
  width: 35%;
  height: 6vh;
  position: fixed;
  top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 3.3px;
  border-radius: 15px;
  background: linear-gradient(90deg, rgb(63, 237, 251) 20%, rgb(63, 94, 251) 50%, rgb(213, 70, 252) 80%);
  background-size: 200% 200%;
  animation: animatedBackground 5s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  #container nav {
    display: block;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: inherit;
    bottom: 0;
    border-radius: 0;
    padding: 2px 0 0;
  }
}
#container nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #252A2F;
  border-radius: 13px;
}
@media screen and (max-width: 768px) {
  #container nav ul {
    border-radius: 0;
  }
}
#container nav ul li {
  list-style: none;
}
#container nav ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f9f9f9;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #container nav ul li a p {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #container nav ul li a {
    font-size: 0.8rem;
  }
}
#container nav ul li a i {
  display: none;
}
@media screen and (max-width: 768px) {
  #container nav ul li a i {
    display: block;
    font-size: 1.4rem;
  }
}
#container nav ul li button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f9f9f9;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 768px) {
  #container nav ul li button p {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #container nav ul li button {
    font-size: 0.8rem;
  }
}
#container nav ul li button i {
  display: none;
}
@media screen and (max-width: 768px) {
  #container nav ul li button i {
    display: block;
    font-size: 1.4rem;
  }
}
#container main#home {
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #container main#home {
    height: 80vh;
    padding-top: 10vh;
  }
}
#container main#home .profile {
  display: flex;
  flex-direction: row;
  height: 98.5vh;
  padding: 10vh 25vh 0;
}
@media screen and (max-width: 768px) {
  #container main#home .profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5vh;
    gap: 5vh;
  }
}
#container main#home .profile .tagline {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10vh;
}
@media screen and (max-width: 768px) {
  #container main#home .profile .tagline {
    width: 100%;
    padding: 0;
    text-align: center;
    justify-content: center;
  }
}
#container main#home .profile h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #f9f9f9;
}
@media screen and (max-width: 768px) {
  #container main#home .profile h1 {
    align-items: center;
    font-size: 1.5rem;
  }
}
#container main#home .profile h1 sup img {
  width: 1.6rem;
  aspect-ratio: 3/4;
}
@media screen and (max-width: 768px) {
  #container main#home .profile h1 sup img {
    display: none;
  }
}
#container main#home .profile .boxProfile {
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #container main#home .profile .boxProfile {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
#container main#home .profile .boxProfile .cardProfile {
  display: flex;
  width: 75%;
  aspect-ratio: 3/4;
  border-radius: 25vh 25vh 0 0;
  padding: 1.15vh 1.5vh 0;
  background: linear-gradient(90deg, rgb(63, 237, 251) 20%, rgb(63, 94, 251) 50%, rgb(213, 70, 252) 80%);
  background-size: 200% 200%;
  animation: animatedBackground 5s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  #container main#home .profile .boxProfile .cardProfile {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 1vh;
    align-items: center;
    justify-content: center;
  }
}
#container main#home .profile .boxProfile .cardProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 24vh 24vh 0 0;
}
@media screen and (max-width: 768px) {
  #container main#home .profile .boxProfile .cardProfile img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
#container main#home .line {
  width: 100%;
  height: 1.5vh;
  background: linear-gradient(90deg, rgb(63, 237, 251) 20%, rgb(63, 94, 251) 50%, rgb(213, 70, 252) 80%);
  background-size: 200% 200%;
  animation: animatedBackground 5s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  #container main#home .line {
    display: none;
  }
}
#container main#about {
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #container main#about {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
  }
}
#container main#about .title {
  background-color: #f9f9f9;
  width: 12%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  #container main#about .title {
    width: 100%;
    height: 10vh;
    padding-left: 0.4rem;
    padding-bottom: 0;
  }
}
#container main#about .title h1 {
  transform: rotate(-90deg);
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1rem;
}
@media screen and (max-width: 768px) {
  #container main#about .title h1 {
    transform: rotate(0deg);
    font-size: 2.5rem;
  }
}
#container main#about .boxDescription {
  width: 88%;
  height: 100%;
  padding: 20vh 8vh 0;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription {
    width: 100%;
    height: auto;
    padding: 5vh;
  }
}
#container main#about .boxDescription .description {
  color: #f9f9f9;
  width: 100%;
  height: 78%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription .description {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 5vh;
  }
}
#container main#about .boxDescription .description .aboutme {
  width: 45%;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription .description .aboutme {
    width: 100%;
  }
}
#container main#about .boxDescription .description .aboutme h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription .description .aboutme h2 {
    font-size: 1.5rem;
  }
}
#container main#about .boxDescription .description .aboutme p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  line-height: 1.7rem;
}
#container main#about .boxDescription .description .qualifications {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8vh;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription .description .qualifications {
    width: 100%;
    gap: 5vh;
  }
}
#container main#about .boxDescription .description .qualifications .education {
  width: 100%;
}
#container main#about .boxDescription .description .qualifications .education h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription .description .qualifications .education h2 {
    font-size: 1.5rem;
  }
}
#container main#about .boxDescription .description .qualifications .education ul {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  list-style-type: circle;
  padding-left: 1.5rem;
}
#container main#about .boxDescription .description .qualifications .education p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}
#container main#about .boxDescription .description .qualifications .skill {
  width: 100%;
}
#container main#about .boxDescription .description .qualifications .skill h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription .description .qualifications .skill h2 {
    font-size: 1.5rem;
  }
}
#container main#about .boxDescription .description .qualifications .skill ul {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem 1.5rem;
}
#container main#about .boxDescription .description .qualifications .skill ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container main#about .boxDescription .description .qualifications .skill ul li img {
  width: 1.3rem;
}
#container main#about .boxDescription .description .qualifications .skill ul li img.imageSASS {
  filter: invert(1);
}
#container main#about .boxDescription .description .qualifications .skill ul li img.imageTailwind {
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 1vh;
}
#container main#about .boxDescription .description .qualifications .skill ul li i {
  font-size: 1.5rem;
}
#container main#about .boxDescription .description .qualifications .skill ul li img,
#container main#about .boxDescription .description .qualifications .skill ul li i {
  margin-right: 0.3rem;
}
#container main#about .boxDescription .sosmed {
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  #container main#about .boxDescription .sosmed {
    height: auto;
    justify-content: center;
    margin-top: 2vh;
  }
}
#container main#about .boxDescription .sosmed a {
  color: #f9f9f9;
}
#container main#about .boxDescription .sosmed a i {
  font-size: 1.5rem;
  border-radius: 100vh;
}
#container main#projects {
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  #container main#projects {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }
}
#container main#projects .title {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-between;
  justify-content: center;
  padding-right: 5vh;
}
@media screen and (max-width: 768px) {
  #container main#projects .title {
    height: auto;
    align-items: flex-start;
    padding-right: 0;
    padding-left: 5vh;
  }
}
#container main#projects .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.42rem;
  color: #f9f9f9;
}
@media screen and (max-width: 768px) {
  #container main#projects .title h1 {
    font-size: 1.5rem;
  }
}
#container main#projects .title .line {
  width: 223px;
  height: 0.3rem;
  border-radius: 10vh;
  background: linear-gradient(90deg, rgb(63, 237, 251) 20%, rgb(63, 94, 251) 50%, rgb(213, 70, 252) 80%);
  background-size: 200% 200%;
  animation: animatedBackground 5s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  #container main#projects .title .line {
    width: 170px;
  }
}
#container main#projects .boxProjects {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #container main#projects .boxProjects {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }
}
#container main#projects .boxProjects .cardProjects:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s;
}
#container main#projects .boxProjects .cardProjects {
  width: 40%;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: -9px 10px 41px -1px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -9px 10px 41px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -9px 10px 41px -1px rgba(0, 0, 0, 0.62);
}
@media screen and (max-width: 768px) {
  #container main#projects .boxProjects .cardProjects {
    width: 80%;
  }
}
#container main#projects .boxProjects .cardProjects img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 1vh 1vh 0 0;
}
#container main#projects .boxProjects .cardProjects .description {
  color: #f9f9f9;
  width: 100%;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
}
#container main#projects .boxProjects .cardProjects .description p {
  text-align: justify;
}
#container main#contact {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#container main#contact form {
  position: relative;
  width: 50%;
  background: rgba(37, 42, 47, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 7vh 1vh 7vh 1vh;
  padding: 3vh 5vh;
  gap: 2vh;
}
@media screen and (max-width: 768px) {
  #container main#contact form {
    width: 80%;
  }
}
#container main#contact form #exit {
  width: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: #252A2F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 1vh;
  cursor: pointer;
}
#container main#contact form h1 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #f9f9f9;
}
#container main#contact form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f9f9f9;
}
#container main#contact form label p sup {
  color: red;
}
#container main#contact form label input,
#container main#contact form label textarea {
  width: 100%;
  height: 2.5rem;
  background-color: #f9f9f9;
  border-radius: 1vh;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #252A2F;
  padding: 0 1vh;
}
#container main#contact form label textarea {
  height: 8rem;
  resize: none;
}
#container main#contact form button {
  width: 20%;
  height: 2.5rem;
  background-color: #f9f9f9;
  border-radius: 1vh;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1vh;
  color: #252A2F;
  cursor: pointer;
}
#container .show {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
}
#container .hide {
  z-index: -100;
  opacity: 0;
  transform: scale(0.8);
}
#container footer#copyright {
  z-index: 10;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #container footer#copyright {
    height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 10vh;
  }
}
#container footer#copyright p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f9f9f9;
}
@media screen and (max-width: 1024px) {
  #container footer#copyright p {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=main.css.map */
